{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
    <!--Preloader Starts-->
   <!--
     <div class="preloader-wrapper">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
   -->
    <!--Preloader Ends-->
    <!-- Header Area Start -->
    <header class="header-area">
        <div class="container">
            <div class="logo">
                <div class="menu--button">
                    <button onclick="ToggleMobileNavigation()"><i class="fa-solid fa-bars"></i></i></button>
                </div>
                <a href="">Blog</a>
            </div>
            <div class="nav-block">
                <div class="navigation--item">
                    <a href="">Home</a>
                    <a href="">Africa</a>
                    <a href="">Americas</a>
                    <a href="">Europe</a>
                    <a href="">Asia</a>
                </div>

                <div class="blog-search">
                    <form action="#">
                        <input type="search" placeholder="Search Blog Post">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
            
        </div>
    </header>
    <!-- Header Area Ends -->
    <!--Mobile Navigation starts-->
    <div class="mobile--navigation" id="mobile--navigation">
        <div class="mobile--navigation-header">
            <div class="logo-container">
                <img src="" alt="">
                <a href="">Blog</a>
            </div>
            <div class="close--button">
                <button onclick="ToggleMobileNavigation()"><i class="fa fa-close"></i></button>
            </div>
        </div>
        <div class="mobile--navigation--items">
            <a href="" class="mobile--navigation--item">Home</a>
            <a href="" class="mobile--navigation--item">About</a>
            <a href="" class="mobile--navigation--item">Services</a>
            <a href="" class="mobile--navigation--item">Contact</a>
        </div>
    </div>
    <!--Mobile Navigation ends-->
    <!--Hero Area Starts-->
    
    <!--Main Area starts-->
    <section class="main-area-container" style="margin-top: 70px ;">
        <div class="main-area-wrapper">
            <div class="blog-container">
                <div class="blog-container-wrapper">
                    
                    <div class="blog-card">
                        <img class="card-image" src="{{post.image.url}}" alt="">
                        <div class="blog-item">
                            <div class="blog-list-meta">
                                <a class="blog-author" href="#">
                                    <img src="{{post.author.image.url}}" alt="Blog Author">
                                    <span>{{post.author}}</span>
                                </a>
                                <a class="blog-category" href="#">{{post.category}}</a>
                            </div>
                            <div class="blog-text">
                                <h3>{{post.title}}</h3>
                                <p>{{post.body|safe}}</p>
                                
                            </div>
                        </div>
                    </div>
                   
                    
                   <div class="blog-details-contact-form">
                        <h2>Comments</h2>
                        {{request.user}}
                        {% if user.is_authenticated %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ comment_form.body}}
                            
                           <p>
                                <button type="submit">
                                    Comment
                                    <i class="bi bi-send"></i>
                                </button>
                            </p>
                        </form>
                        {% else %}
                        <h2>You need to login to comment</h2>
                        {% endif %}

                       
                        {% for comment in comments %}
                        {% if comment.is_parent %}
                        <div class="comment-container">
                            <div class="comment-wrapper">
                                <div class="author-card">
                                    <p>{{comment.User}}</p>
                                    
                                    <p>on {{comment.created}}</p>
                                </div>
                                <p>{{comment.body|linebreaks}}</p>
                                {% for reply in comment.children %}
                                <div id="reply-card">
                                    <p>{{reply.User}} to {{comment.User}}</p>
                                    <p>on {{reply.created}}</p>
                                    <p>{{reply.body}}</p>
                                </div>
                               
                                {% endfor %}
                                <button class="submit-btn" onclick="handleReply({{comment.id}})">
                                    <h3>Reply</h3>
                                </button>
                                <button class="cancel-btn" type="button" onclick="handleCancel({{comment.id}})" >Cancel</button>
                                <div id="reply-form-container-{{comment.id}}" style="display:none">
                                    {% if comment.is_parent %}
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <p>{{ comment_form.body}}</p>
                                        <input type="hidden" name="parent" value="{{comment.id}}">
                                        <button class="reply-btn" type="submit">Submit</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            
                        </div>
                        {% endif %}
                        {% endfor %}
                        
                     
                   </div>
                
                    
                </div>
            </div>
            <div class="blog-sidebar">
                <div class="sidebar-container-1">
                    <div class="blog-search-sidebar">
                        <form action="{% url 'Search_Result' %}" method="POST">
                            {% csrf_token %}
                            <input name="query" type="search" placeholder="Search Blog Post" >
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>

                    <div class="sidebar-widget recent-post">
                        <h3>Recent Post</h3>
                        {% for data in recent_posts %}
                        <div class="single-recent-post">
                            <a href="{% url 'Post_Detail' data.pk %}">
                                <img src="{{ data.image.url }}" alt="Recent Post">
                                <span>{{data.title}}</span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sidebar-container-2">
                    <div class="blog-category-list">
                        <h3>Blog Category list</h3>
                        <ul>
                            {% for data in category %}
                                <li><a href="#">{{data.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="blog-archive-list">
                        <h3>Blog Archive</h3>
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="archive-date">January 2022</span>
                                    <span class="archive-post-number">3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="archive-date">February 2022</span>
                                    <span class="archive-post-number">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="archive-date">March 2022</span>
                                    <span class="archive-post-number">7</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="archive-date">April 2022</span>
                                    <span class="archive-post-number">6</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="archive-date">May 2022</span>
                                    <span class="archive-post-number">5</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Area Ends -->
    
    <!--Recomeneded Post-->
    <section class="recommended-area-container">
        <div class="recommended-area-wrapper">
            <h2>Recomeneded Post</h2>
            <div class="recommended-container-wrapper">
                {% for data in recent_posts %}
                    <div class="blog-card">
                        <img class="card-image" src="{{data.image.url}}" alt="">
                        <div class="blog-item">
                            <div class="blog-list-meta">
                                <a class="blog-author" href="#">
                                    <img src="{{data.author.image.url}}" alt="Blog Author">
                                    <span>{{data.author}}</span>
                                </a>
                                <a class="blog-category" href="#">{{data.category}}</a>
                            </div>
                            <div class="blog-text">
                                <h3>{{data.title}}</h3>
                                <p>{{ data.body|safe|truncatechars:100 }}</p>
                                <a class="blog-list-btn" href="{% url 'Post_Detail' data.id %}">Read More...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
               
            </div>
               
        </div>
    </section>
     <!--Recomeneded Post ends-->
     <!--footer Area starts-->
     <footer class="footer-area">
        <div class="footer-container">
            <div class="copyright-text">
                <p>All Rights Reserved &copy LearnCodeTuts 2022</p>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
     </footer>
      <!--footer Area ends-->
</body>
<script src="{% static 'javascript/home.js' %}"></script>
</html>



<p>
    {{form.category.label}}
    {{form.category}}
   
 </p>
 <p>{{form.name}}</p>
 <p>
    
    <input type="hidden" name="seller" value="{{request.user.id}}" >
</p>
 <p>{{form.description}}</p>
 <p>{{form.brand}}</p>
 <p>{{form.main_image}}</p>
 <p>{{form.image2}}</p>
 <p>{{form.image3}}</p>
 <p>{{form.image4}}</p>
 <p>{{form.price}}</p>
 <p>{{form.discount_price}}</p>
 <p>{{form.available}}</p>